
@{
    ViewBag.Title = "Thankyou";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="color:orangered">Data Saved Successfully</h2>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">

            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-6">
                        <form role="form">
                            @*@Html.ActionLink("Finish", "Index", "Home", null, new { @class = "btn btn-primary" })*@
                        </form>
                    </div>
                    <!-- /.col-lg-6 (nested) -->
                    @*<div class="col-lg-6">

                        </div>*@
                    <!-- /.col-lg-6 (nested) -->
                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->